 name: hatke_manager
description: Shashiraj Hatke Vada Pav & Chai Centre Manager
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^3.6.0
  firebase_auth: ^5.3.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/logo.png
